{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<head>
  <link rel="stylesheet" href="{% static 'my_company/css/index.css' %}">
</head>
<script>
  $(function(){
    $('#video-carousel-example').carousel({
      interval: 2000
    });
  });
</script>
<!--Carousel Wrapper-->
<header>
  <div id="video-carousel-example" class="carousel slide" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#video-carousel-example" data-slide-to="1"></li>
      <li data-target="#video-carousel-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <video class="video-fluid" autoplay loop>
          <source src="https://github.com/calvinkcc/company_site/blob/master/my_company/static/circuit.mp4?raw=true" type="video/mp4" />
        </video>
      </div>
      <div class="carousel-item">
        <video class="video-fluid" autoplay loop>
          <source src="https://github.com/calvinkcc/company_site/blob/master/my_company/static/electronic.mp4?raw=true" type="video/mp4" />
        </video>
      </div>
      <div class="carousel-item">
        <video class="video-fluid" autoplay loop>
          <source src="https://github.com/calvinkcc/company_site/blob/master/my_company/static/electronic.mp4?raw=true" type="video/mp4" />
        </video>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--Carousel Wrapper-->
</header>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{%  static 'my_company/images/tech.jpg' %}" alt>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Who we are?</h2>
          <p>Our team mostly consist of tech savvy college educated dudes with modern technology experiences and enterprise IT experiences.
            We grew up on technology and always thought to ourselves, "How are we going to survive without our techs?"
            The answer is <b>NO</b>, we can't survive without our phone, computer, and internet. That's goes for a home
            environment or business environment. Most business need constant internet connection, high speed wifi routers,
            managed switches, working devices like credit card machines, phones/VoIP phones, and properly configured networks.
            We are here to offer that. Learn more about us <a href="{% url 'services:web_development' %}">here</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'my_company/images/tech.jpg' %}" alt=>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">What we service?</h2>
          <p>
            <ul>
              <li>Aim to service to home and business environments</li>
              <li>Improvement of outdated old server rooms and technology</li>
              <li>From cash only business to credit card capable serving to all customers</li>
              <li>Security of your business and home with security cameras and smart home devices</li>
              <li>Improvement to your IT infrastructure</li>
              <li>Speeding up your internet connection and network to ensure <b>slowness</b> does not occur</li>
              <li>Check out the <a href="{% url 'services:web_development' %}">services</a> page for more information and offers</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'my_company/images/tech.jpg' %}" alt>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Why choose us?</h2>
          <p>1. When you choose us and contract to us we will take care of you 24/7. We plan on expanding our remote support and make sure all our clients have 0 wait time.</p>
          <p>2. Your also choosing a young company that's going to grow in experience with your company and also constant development of modern technology experiences/knowledges. How? because most of our team members are young
            and ready to take on any challenges.</p>
          <p>3. We have a different business structure than your typical IT company. We can service you by job or you can sign contract and pay us monthly fees. This is a feature of our company,
            with this feature your ensuring 24/7 constant support and also that we will put your company on our priority list. This includes constant new IT service at your door step, email alerts,
            and monitoring service. </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
