#container-1{
    margin-left:auto;
    margin-right:auto;
  margin-top: 50px;
}
#h1-1{
  white-space: nowrap;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
#p-1{
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
#p-2{
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
#h2-1{
    white-space: nowrap;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
#first-block{
   margin-left:auto;
    margin-right:auto;
  background-color: white;
}
#second-block{
  margin-left:auto;
    margin-right:auto;
  background-color: white;
}
#h1-2{
    white-space: nowrap;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}
#h2-2{
    white-space: nowrap;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
#p-3{
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
#p-4{
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
#cal-img{
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 180px;
}
.carousel-item{
  height: auto;
  width: auto;
}
/*  carousel styles*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  margin-bottom: 300px;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  color: black;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 25px;
  color: black;
}
.carousel-indicators{
  position: inherit;
}
.carousel-indicators li {
  background-color: rgba(70,70,70,.25);
  border:1px solid #444;
}
.carousel-indicators .active {
  background-color: #444;
  border:1px solid #444;
}
