#container-1{
  background-color: white;
}
#contact-us {
    padding: 50px 20px;
    position: relative;
    /* background: #f7f7f7; */
    background-color: #f5f7fa;
}
#contact-us{
  font-family: "Courier New", Courier, monospace;
}
.black-background {background-color:#000000;}
.white {color:#ffffff;}
