{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
  <h1 class="mt-4 mb-3">Blog</h1>
  <p>We leave interesting blogs here about tech related things!</p>
  <hr>
</div>
{% for blog in object_list %}
<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#"></a>
            <img class="img-fluid" src="{% static 'my_company/images/tech.jpg' %}" alt="">
        </div>

        <div class="col-lg-6">
          <h2 class="card-title">{{blog.title}}</h2>
          <p class="card-text">{{blog.description}}</p>
            <a href="/blog/{{ blog.id }}" class="btn btn-primary">Read More</a>
        </div>

      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ blog.date|date:"Y-m-d" }} by
      <a href="{% url 'about_us:about_us' %}">Kafai</a>
    </div>
  </div>
</div>
{% endfor %}
<div class="container">
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</div>


{% endblock %}
