{% extends "services/service_base.html" %}
{% block content %}
{% load staticfiles %}

<h2 style="text-decoration: underline">Cabling installation or cleanup</h2>
<p><b>Location wide cabling and equipment setup to provide a functional business or home</b></p>
<hr>
<div class="row">
  <div class="col-lg-6">
    <img class="img-fluid rounded mb-4" src="{% static 'my_company/images/tech.jpg' %}" alt="">
  </div>
  <div class="col-lg-6">
    <p>1. <b>Business</b>- Cat5/Cat6 cable installation with patch panel.</p>
    <p>2. <b>Home or home office</b>- Cat5/Cat6 installation with patch panel or single cables,double or duplex. </p>
  </div>
</div>

{% endblock %}
