{% extends "services/service_base.html" %}
{% load staticfiles %}

{% block meta %}
<title>Wall Mount | KccsTech</title>
<meta name="description" content="KccsTech.com can assist you in TV wall mount at home or business TV or Computer monitor wall mount. For services, get in touch now at 646-975-9555"/>
<meta name="keywords" content="computer services nyc,phone repair ny, VOIP nyc, it company nyc, online marketing nyc, security camera nyc, it consultants nyc,it services ny,web design ny, online marketing, web development ny"/>
<link rel="canonical" href="http://www.kccstech.com/services/other_devices" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Wall Mount | KccsTech" />
<meta property="og:description" content="KccsTech.com can assist your need in TV wall mount at home or business TV or Computer monitor wall mount. For services, get in touch now at 646-975-9555"/>
<meta property="og:url" content="http://www.kccstech.com/services/other_devices" />
<meta property="og:site_name" content="KccsTech" />
{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1 style="text-decoration: underline">Additional services</h1>
<p><b>Wall mount for home or office settings i.e. conference rooms</b></p>
<p><b>Credit card machines for your front desk payments.</b></p>
<hr>
<div class="row">
  <div class="col-lg-6">
    <img class="img-fluid rounded mb-4" src="{% static 'my_company/images/tech.jpg' %}" alt="iphone tablet computer hands">
  </div>
  <div class="col-lg-6">
    <p>1. <b>Home setting</b>- Wall mount TV for home setting
      <br>2. <b>Business/Office setting</b>- Wall mount TV or computer monitor for office or conference room settings.
      <br>3. <b>Credit Card Machines</b>- We can install credit machines and offer support for it. Many business run without one, but with an experienced team you can
        very likely get much more customer if you have this machine in your front desk.
        <br>4. <b>Point of Sale system</b>- We also offer PoS system installation, but we service the more modern ones.
  </div>
</div>

{% endblock %}
